<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
        <add key="globalPackagesFolder" value="packages" />
        <add key="repositoryPath" value="packages" />
    </config>
    <packageSources>
        <add key="Project" value="packages" />
    </packageSources>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <solution>
        <add key="disableSourceControlIntegration" value="false" />
    </solution>
</configuration>